---
- name: Configurar VM Ubuntu e rodar container NGINX
  hosts: all
  become: yes

  tasks:
    - name: Atualizar pacotes
      apt:
        update_cache: yes
        upgrade: yes

    - name: Instalar Docker e Python dependências
      apt:
        name:
          - docker.io
          - python3-pip
        state: present

    - name: Habilitar serviço Docker
      service:
        name: docker
        state: started
        enabled: yes

    - name: Subir container NGINX com a imagem do Docker Hub
      community.docker.docker_container:
        name: web
        image: "{{ docker_image }}"
        state: started
        restart_policy: always
        ports:
          - "80:80"

