name: Docker + Ansible Deploy to Azure VM

on:
  push:
    branches:
      - main

jobs:
  docker_build_push:
    name: Docker Build & Push
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKER_IMAGE }} .

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_IMAGE }}

  ansible_deploy:
    name: Ansible Deploy (NGINX container)
    runs-on: ubuntu-latest
    needs: docker_build_push

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Ansible
        run: |
          sudo apt update -y
          sudo apt install -y ansible

      - name: Create Ansible inventory
        run: |
          echo "${{ secrets.VM_PUBLIC_IP }}" > inventory.ini
          echo "Inventory generated with IP:"
          cat inventory.ini

      - name: Add SSH key
        run: |
          echo "${{ secrets.VM_SSH_PRIVATE_KEY }}" > private_key.pem
          chmod 600 private_key.pem

      - name: Run Ansible Playbook
        env:
          ANSIBLE_HOST_KEY_CHECKING: "False"
          DOCKER_IMAGE: ${{ secrets.DOCKER_IMAGE }}
        run: |
          ansible-playbook -i inventory.ini ansible/playbook.yml \
            --private-key private_key.pem \
            -u ${{ secrets.ADMIN_USERNAME }} \
            --become \
            --become-method=sudo

      - name: Show public IP
        run: |
          echo "Application available at: http://${{ secrets.VM_PUBLIC_IP }}"

