name: Azure VM Free - Terraform + Ansible + Docker + Deploy SSH

on:
  push:
    branches:
      - main

jobs:
  terraform:
    name: Terraform - Create Azure Infra
    runs-on: ubuntu-latest

    outputs:
      public_ip: ${{ steps.tf_output.outputs.public_ip }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Terraform Init
        run: terraform init
        working-directory: ./terraform

      - name: Terraform Plan
        run: terraform plan -out=tfplan
        working-directory: ./terraform
        env:
          TF_VAR_location: ${{ secrets.AZURE_LOCATION }}
          TF_VAR_resource_group: ${{ secrets.RESOURCE_GROUP }}
          TF_VAR_vm_name: ${{ secrets.VM_NAME }}
          TF_VAR_admin_username: ${{ secrets.ADMIN_USERNAME }}
          TF_VAR_ssh_public_key: ${{ secrets.SSH_PUBLIC_KEY }}

      - name: Terraform Apply (only if changes)
        run: |
          terraform show tfplan | grep "No changes." && \
            echo "✅ Infra já está atualizada. Pulando apply." || \
            terraform apply -auto-approve tfplan
        working-directory: ./terraform

      - name: Get public IP from Terraform output
        id: tf_output
        run: |
          PUBLIC_IP=$(terraform output -raw public_ip)

